/*? INDEX */

@media (max-width:1500px) {
    .navbar-nav {
        margin: 0;
    }
    .collapse {
        margin: auto;
        margin-left: 0px;
    }
}

@media (max-width:1400px) {
    .gif {
        height: 90vh;
    }
    .tarjetasdecompra div a img {
        width: 130px;
        margin: 10px;
    }
    .destacado div a img {
        width: 300px;
    }
}

@media (max-width:1101px) {
    .gif {
        height: 85vh;
    }
}

@media (max-width:1050px) {
    .destacado div a img {
        width: 250px;
    }
    .tarjetasdecompra {
        @include grid (grid, repeat (2,auto), auto auto);
    }
    .gif {
        height: 80vh;
    }
}

@media (max-width:980px) {
    .gif {
        height: 65vh;
    }
    .gif h2 {
        font-size: 12px;
        margin-bottom: 10px;
        top: 30%;
    }
    .gif h2 a {
        border-radius: 26px;
        padding: 7px;
    }
}

@media (max-width:900px) {
    .destacado div a img {
        width: 200px;
    }
    .destacado div h3 {
        font-size: 18px;
    }
    .gif {
        height: 57vh;
    }
    .gif h2 {
        font-size: 10px;
        margin-bottom: 8px;
        top: 29%;
    }
    .gif h2 a {
        border-radius: 25px;
        padding: 7px;
    }
    .contactanos h4 {
        font-size: 13px;
    }
    .contactanos a img {
        height: 35px;
        width: 35px;
    }
    .redesociales a img {
        height: 30px;
        width: 30px;
    }
    .metodospago h4 {
        font-size: 14px;
    }
    .metodospago a img {
        height: 45px;
        width: 45px;
    }
}

@media (max-width:750px) {
    .gif {
        height: 48vh;
    }
    .gif h2 {
        font-size: 9px;
        margin-bottom: 7px;
        top: 29%;
    }
    .gif h2 a {
        border-radius: 22px;
        padding: 5px;
    }
    .destacado {
        flex-direction: column;
    }
    .destacado div a img {
        width: 320px;
    }
}

@media (max-width:600px) {
    .gif {
        height: 40vh;
    }
    .tarjetasdecompra {
        display: flex;
        flex-direction: column;
    }
    .tarjetasdecompra div a img {
        width: 170px;
    }
    .contactanos h4 {
        font-size: 10px;
    }
    .contactanos a img {
        height: 30px;
        width: 30px;
    }
    .redesociales a img {
        height: 27px;
        width: 27px;
    }
    .metodospago h4 {
        font-size: 12px;
    }
    .metodospago a img {
        height: 40px;
        width: 40px;
    }
    .gif h2 {
        font-size: 8px;
        margin-bottom: 6px;
        top: 29%;
    }
    .gif h2 a {
        border-radius: 20px;
        padding: 5px;
    }
}

@media (max-width:500px) {
    footer {
        flex-direction: column;
        align-items: center;
        align-content: center;
        padding: 1px;
    }
    .contactanos {
        position: static;
    }
    footer div {
        margin: 10px;
    }
    .destacado div a img {
        width: 200px;
    }
    .tarjetasdecompra div a img {
        width: 150px;
    }
    .gif {
        height: 28vh;
    }
    .gif h2 {
        font-size: 6px;
        margin-bottom: 5px;
        top: 29%;
    }
    .gif h2 a {
        border-radius: 18px;
        padding: 5px;
    }
}

/*? PAGES */

@media (max-width:1500px) {
    .itemgrilla {
        height: 350px;
        margin: 10px;
    }
    .itemgrilla a img {
        height: 220px;
    }
}

@media (max-width:1350px) {
    .itemgrilla {
        height: 300px;
        margin: 10px;
    }
    .itemgrilla a img {
        height: 190px;
    }
    .itemgrilla h3 {
        font-size: 15px;
    }
    .itemgrilla p {
        font-size: 13px;
    }
    .itemgrilla button {
        padding: 8px;
    }
    .itemgrilla button a {
        font-size: 14px;
        font-weight: 550;
        border-radius: 8px;
        border-width: 1px;
        padding: 3px;
    }
}

@media (max-width:1200px) {
    .grilla {
        @include grid (grid, repeat (5,auto), auto auto);
        margin-left: 250px;
        grid-template-areas:
            "main main"
            "main main"
            "main main"
            "main main"
            "main main"
        ;
    }
}

@media (max-width:950px){
    .itemgrilla {
        height: 260px;
        margin: 10px;
    }
    .itemgrilla a img {
        height: 150px;
    }
    .itemgrilla h3 {
        font-size: 13px;
    }
    .itemgrilla p {
        font-size: 11px;
    }
    .itemgrilla button {
        padding: 7px;
    }
    .itemgrilla button a {
        font-size: 14px;
        font-weight: 550;
        border-radius: 8px;
        border-width: 1px;
        padding: 3px;
    }
}

@media (max-width:820px){
    .grilla {
        margin-left: 84px;
    }
    .boton {
        width: 84px;
        height: calc(100vh - auto);
    }
    .filtro {
        opacity: 0;
        visibility: hidden;
        height: calc(100vh - 10vh);
        box-shadow: 0 0 0 100vmax rgba(12, 12, 12, 0.5);
    }
    .filtro ul li {
        margin-left: 20px;
        list-style: none;
    }
    .filtro ul li h3 {
        margin: 10px;
        font-size: 13px;
    }
    .filtro ul li a p {
        font-size: 11px;
        margin: 0;
        margin-left: 20px;
        font-weight: 500;
        color: black;
    }
    .abrirmenu {
        margin-left: 45px;
        display: block;
        border: 0;
        font-size: 1.7rem;
        background-color: transparent;
    }
    .abrirmenu i {
        color: black !important;
        background-color: transparent !important;
    }
    .cerrarmenu {
        margin-left: 45px;
        display: block;
        border: 0;
        font-size: 1.7rem;
        background-color: transparent;
    }
    .cerrarmenu i {
        color: black !important;
        background-color: transparent !important;
    }
    .filtro.visible {
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width:650px){
    .grilla {
        @include grid (grid, repeat (10,auto), auto);
        grid-template-areas:
            "main"
            "main"
            "main"
            "main"
            "main"
            "main"
            "main"
            "main"
            "main"
            "main"
        ;
    }
    .itemgrilla {
        height: 270px;
        margin: 10px;
    }
    .itemgrilla a img {
        height: 170px;
    }
    .itemgrilla h3 {
        font-size: 15px;
    }
    .itemgrilla p {
        font-size: 13px;
    }
    .itemgrilla button {
        padding: 9px;
    }
    .itemgrilla button a {
        font-size: 16px;
        font-weight: 550;
        border-radius: 10px;
        border-width: 1px;
        padding: 5px;
    }
}

@media (max-width:470px){
    .itemgrilla {
        height: 240px;
        margin: 10px;
    }
    .itemgrilla a img {
        height: 150px;
    }
    .itemgrilla h3 {
        font-size: 13px;
    }
    .itemgrilla p {
        font-size: 11px;
    }
    .itemgrilla button {
        padding: 7px;
    }
    .itemgrilla button a {
        font-size: 14px;
        font-weight: 550;
        border-radius: 8px;
        border-width: 1px;
        padding: 3px;
    }
}

@media (max-width:420px){
    .itemgrilla {
        height: 260px;
        margin: 10px;
    }
}


/*? CONTACTO */

@media (max-width:1600px){
    iframe {
        width: 500px;
    }

    .mapa div .mb-3{
        width: 500px;

    }
}

@media (max-width:1300px){
    iframe {
        width: 400px;
        height: 300px;
    }

    .mapa div .mb-3{
        width: 400px;

    }
}

@media (max-width:1100px) {
    .mapa {
        flex-direction: column;
        padding: 10px;
    }

    iframe {
        width: 600px;
        height: 400px;
    }

    .mapa div .mb-3{
        width: 600px;

    }

    .contacto {
        padding: 30px;
    }
}

@media (max-width:850px) {
    iframe {
        width: 500px;
        height: 400px;
    }

    .mapa div .mb-3{
        width: 400px;

    }
}

@media (max-width:650px){
    iframe {
        width: 400px;
        height: 300px;
    }

    .mapa div .mb-3{
        width: 300px;
    }
}

@media (max-width:530px){
    iframe {
        width: 300px;
        height: 200px;
    }

    .mapa div .mb-3{
        width: 200px;
    }
}

@media (max-width:430px){
    iframe {
        width: 250px;
    }

    .mapa div .mb-3{
        width: 150px;
    }
}